    <div class="row">
        <div class="col-6">
            <div class="card">
                <h1>Apartamento</h1>
                <div class="card-body">
                    <form class="form p-t-20" [formGroup]="apartamentoForm" (ngSubmit)="guardarApartamento()">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Apartamentos</label>
                            <div class="input-group">
                                <select class="form-control" formControlName="codigo">
                                    <option [value]="1">
                                        Todos..
                                    </option>
                                    <option *ngFor="let apartamento of apartamentos" [value]="apartamento._id">
                                        {{apartamento.codigo}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- <div class="col-3">
            <div class="card">
                <h1>Tipo Pago</h1>
                <div class="card-body">
                    <div class="form-group">
                        <div class="input-group">
                            <fieldset>
                                <legend>Elige un color</legend>
                                <label>
                                    <input type="radio" name="color" value="azul"> Azul
                                </label>
                                <label>
                                    <input type="radio" name="color" value="negro"> Negro
                                </label>
                                <label>
                                    <input type="radio" name="color" value="amarillo"> Amarillo
                                </label>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="col-3">
            <div class="card">
                <h1>Deuda</h1>
                <div class="card-body">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="number" class="form-control"
                                [value]="totalSaldo" placeholder="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <h1>A pagar</h1>
                <div class="card-body">
                    <input type="number" class="form-control" placeholder=""
                    [(ngModel)]="montoPapgo"
                    (keyup)="habilitarPago(montoPapgo)"/>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <h4 class="card-title">Cuotas </h4>
                            <h6 class="card-subtitle">Cuotas pendiente de pago</h6>
                        </div>
                        <div class="col">
                            <div *ngIf="isPagoHabilitado" class="text-right">
                                <button class="btn btn-primary" (click)="aplicarPago()">
                                    <i class="fa fa-hospital-o"></i>
                                    Aplicar pago
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Código</th>
                                    <th>Fecha cuota</th>
                                    <th>Monto</th>
                                    <th>Deuda</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let cuota of cuotas; let i =index">
                                    <td>{{i +1 }}</td>
                                    <td>{{cuota.idapartamento.codigo}}</td>
                                    <td>{{cuota.fechageneracion |date }}</td>
                                    <td>{{cuota.monto | number:'1.2-2'}}</td>
                                    <td>{{cuota.saldo | number:'1.2-2'}}</td>
                                </tr>

                            </tbody>
                        </table>

                        <button class="btn btn-secundary">Anteriores</button>
                        &nbsp;
                        <button class="btn btn-secundary">Siguientes</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
