<!-- <div class="row">
    <div class="col-md-6">
        Hola
    </div>
    
    <div class="col">
        Hola
    </div>
</div> -->

<!-- <div class="row">
    <div class="card">
        <div class="card-title">
           <div class="card-body">

           </div>
        </div>
    </div>
</div> -->

<div class="container">
    
    <div class="layout-column align-items-center mt-50">
      <form (ngSubmit)="calcG()">
        <section class="layout-row align-items-center justify-content-between">
          <label>Celsius: </label>
          <input
            type="number"
            class="large"
            data-test-id="celsius-input"
            name="celsius-input"
            [(ngModel)]="Celsio"
            (keyup)="calcF(celsius.value)"
            #celsius
          />
        </section>
        <section class="layout-row align-items-center justify-content-between">
          <label>Fahrenheit: </label>
          <input
            type="number"
            class="large"
            data-test-id="fahrenheit-input"
            name="fahrenheit-input"
            [(ngModel)]="Farenh"
            (keyup)="calcC(farenheit.value)"
            #farenheit
          />
        </section>
      </form>
      <button (click)="generarPDF()">Generar PDF</button>
    </div>

    <fieldset>
      <legend>Elige un color</legend>
      <label>
          <input type="radio" name="color" value="azul"> Azul
      </label>
      <label>
          <input type="radio" name="color" value="negro"> Negro
      </label>
      <label>
          <input type="radio" name="color" value="amarillo"> Amarillo
      </label>
  </fieldset>
</div>
