<div class="row">
    <div class="col-6">
        <div class="card">
            <h1>Año</h1>
            <div class="card-body">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="anioSeleccionado"/>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <h1>Bloque</h1>
            <div class="card-body">

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">Resumen de Saldo de Cuotas por Apartametos </h4>
                    </div>
                    <div class="col">
                        <div class="text-right">
                            <button class="btn btn-primary" (click)="cargarCuotas(anioSeleccionado)">
                                <i class="fa fa-hospital-o"></i>
                                Buscar
                            </button>   
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Apto</th>
                                <th>Ene</th>
                                <th>Feb</th>
                                <th>Mar</th>
                                <th>Abr</th>
                                <th>May</th>
                                <th>Jun</th>
                                <th>Jul</th>
                                <th>Ago</th>
                                <th>Sep</th>
                                <th>Oct</th>
                                <th>Nov</th>
                                <th>Dic</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cuota of resumenCuotas; let i=index"
                            (mouseover)="onMouseOver(cuota)"
                            (mouseleave)="onMouseLeave(cuota)"
                            [ngClass]="i % 2 === 0 ? 'table-row' : 'table-row-alt' ">
                                <td>{{ cuota.codigo}}</td>
                                <td>{{ cuota.saldosPorMes.ene || 0 | number:'1.2-2' }}</td>
                                <td>{{ cuota.saldosPorMes.feb || 0 | number:'1.2-2' }}</td>
                                <td>{{ cuota.saldosPorMes.mar || 0 | number:'1.2-2' }}</td>
                                <td>{{ cuota.saldosPorMes.abr || 0 | number:'1.2-2' }}</td>
                                <td>{{ cuota.saldosPorMes.may || 0 | number:'1.2-2' }}</td>
                                <td>{{ cuota.saldosPorMes.jun || 0 | number:'1.2-2' }}</td>
                                <td>{{ cuota.saldosPorMes.jul || 0 | number:'1.2-2' }}</td>
                                <td>{{ cuota.saldosPorMes.ago || 0 | number:'1.2-2' }}</td>
                                <td>{{ cuota.saldosPorMes.sep || 0 | number:'1.2-2' }}</td>
                                <td>{{ cuota.saldosPorMes.oct || 0 | number:'1.2-2' }}</td>
                                <td>{{ cuota.saldosPorMes.nov || 0 | number:'1.2-2' }}</td>
                                <td>{{ cuota.saldosPorMes.dic || 0 | number:'1.2-2' }}</td>
                                <td>{{ cuota.total  || 0 | number:'1.2-2' }}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="text-right">
                            <button class="btn btn-primary" (click)="reporte()">Imprimir</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
