/* You can add global styles to this file, and also import other style files */

#themecolors .selector, .cursor {
    cursor:pointer;
}

#google-btn{
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}
.img-avatar {
    height: 200px;
    width: 150px;
}
.w100 {
    width: 100px;
}
.w125 {
    width: 125px;
}
.avatar{
    border-radius: 100%;
    width: 50px;
}

.oculto{
    display: none;
}

.fondo-modal-imagen {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 9999;
}   
.text-danger{
    margin-bottom: 0%;
    text-transform: capitalize;
}

.title-f{
    color: blue;
}
.oculto{
    display: none;
}

.fondo-modal-apartamento{
    background-color: rgba(0, 0, 0, 0.4);
    left: 0px;
    height: 100%;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 999;
}

.highlight {
    color:rgb(24, 24, 228);
}
/* background-color:lavender; */

.table-row {
    background-color: white;
}

.table-row-alt {
    background-color: lightcyan;
}

.table-row td {
    color: black;
}

.table-row-alt td {
    color: brown(255, 224, 224);
}

/* Trabajar con el alto de la columnas, no me funciona */
td {
    height: 5px; /* ajusta la altura según tus necesidades */
}

/* Trabajar con el alto de la columnas, no me funciona */
tr {
    height: 50px; /* ajusta la altura según tus necesidades */
  }

  /* Estilos recomendados por chapGPT*/
.table-container{
    height:400px;
    overflow: auto;
}

.card-container {
    margin-bottom: 1rem;
    border: 1px solid #ccc;
}
/* .card-title {
    margin-top: 0.5rem;
    padding: 0.5rem;
    background-color: #f0f0f0;
  } */
  .encabezado-tabla {
    background-color: #337ab7; /* Cambia el color de fondo según tu preferencia */
    color: #fff; /* Cambia el color del texto según tu preferencia */
  }
  .modal-title {
    font-weight: bold;
  }
  
  
  
  
  
  

  
  